

.header{
    background-color: #460c46;
    padding: 20px;
}
.header img {
    height: 100px;
    width: 200px;
    text-align: justify;
    
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:#FFE039;
    text-align: center;
    padding: 10px;

  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: rgb(71, 28, 71);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-right: 30px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color:white;
    color:rgb(219, 165, 219);
  }
 /* .card one{
border:15px;
border-radius: 10px;
border-style: groove;
text-align: right;
float: right;
 } */

 .card-section {
  display: inline-block;
  /* font-size: larger; */
  /* flex-direction: column; */
  /* justify-content:space-between; */
  padding: 20px;
  /* align-items: center; */
  background-color: peachpuff;
  /* flex-wrap: wrap; */
  margin: 100px;
 height:  200px;
 width: 200px;
  text-align: center;
  border-radius: 10px;
  

 }

 .cards{
  /* display: inline-block; */
background-color: #FFF9D8;
  /* border: 1px solid #e7dfb0;
  border-radius: 15px;
  padding: 20px;
  width: calc(25% - 40px);
  margin : 20px;
  box-sizing: border-box; */
  /* vertical-align: top; */
text-align: center;
  /* flex: 1; */
  /* max-width: 200px; */
  /* width: calc(25% - 20px); */
  
  /* margin: 10px; */
  box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
  /* box-sizing: border-box; */
 }
    /* .cards{
      display: flex;
      justify-content: ;

      text-align: center;
      height: 100px;
      max-width: 100px;
      border:15px;
      border-radius: 10px;
      border-style: groove; */
      /* text-align: right; */
       /* float: right;  */
    
      /* border-radius: 10px; */
    /* } */
    .core{
      text-align: center;
      font-size: 50px;
    }
    .text{
      position: absolute;
      width: 70%;
      background-color: white;
      left: 10%;
      padding: 30px;
    }
    .my-image{
      float: right;
      width: 30%;
    }
    /* .icons{
      display: flex;
      width: 100%;
      height: 100vh; */

    /* } */
  
  /* Footer */
  .footer {
    padding: 30px;
    text-align: center;
    background: #460c46;
    /* margin: 20px; */
    
  }
  .footer p{
    color: #e7dfb0;
  }
  iframe{
    width: 200px;
    height: auto;
    position: relative;
    display: flex;
    max-width: 100%;

  }



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
} */